.br{
  border: 2px solid red;
}
.buttonLinks{
  text-decoration: none;
  font-family: 'Abhaya Libre', serif;
  color: #F20C0C;
  font-size: 1.4rem;
}
.signRegisterBtn{
  font-size: 1.2rem;
  width: 60%;
  margin: auto;
}